*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font: 24px sans-serif;
}

.hlavicka {
  padding: 10px;
  border: 1px solid silver;
}

.logo {
  font-weight: bold;
  text-align: center;
}

ul {
  margin: 20px 0 0 0;
  list-style: none;
  display: inline;
  text-align: center;
}

a {
  text-decoration: none;
  background-color: #f0f0f0;
  color: #e74c3c;
  display: block;
  padding: 10px 20px;
  margin: 2px;
}

a:hover {
  background-color: #e74c3c;
  color: white;
}

/* ---------------------------------------------------- */

/*
	Nakóduj stránku podle obrázku zadani-ukolu.jpg.
	Rozložení stránky se mění v breakpointech:
	- 640px
	- 1000px
*/
@media (min-width: 640px) {
  ul {
    display: flex;
  }

  li {
    width: 25%;
  }
}

@media (min-width: 1000px) {
  .hlavicka {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  ul {
    justify-content: flex-end;
    margin: 0;

  }

  li {
    width: auto;
  }


}
